p {
  color: white;
  margin: 0 0 0 30px;
  font-size: 23px
}


header {
  position: fixed;
  border-bottom: 1px clear;
  width: 100%;
  z-index: 10;
  background-color: #2F4600;
  margin-bottom: 20px;
}
ul {
  text-align: center;
  margin: 0px auto;
}
li {
  font-family: sans-serif;
  color: #3EF948;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 33%;
  padding: 30px 0 30px 0
}

.nli {
  color: white;
  font-size: 30px;
  padding: 30px 0 30px 0
}

.rmn {
  z-index: 3;
  background-color: #2F4600;
}
.fmn {
  z-index: 2;
  background-color: #2F4600;
}

.ns {
  color: #2F4600;
}

.nm {
  margin: 0;
}

.text {
  margin-top: 30px
}

.large_text {
  margin-top: 30px;
  font-size: 35px;
}

.obg {
  background-image: url("Orangutan.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.rbg {
  background-image: url("rainforest_img_cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

body {
  margin: auto;
}

footer {
  background-image: '3D386BBB-1A8C-4CEE-B812-F54FC53F1E7B.jpeg';
  color: white;
  background-size: cover;
  margin: auto;
  text-align: center;
  bottom: 0px;
}


h2 {
  margin: 0 0 0 30px;
}
h3 {
  margin: 0 0 0 30px;
}



.hd {
  border-bottom: 1px solid;
  width: 100%;
  z-index: 1;
  background-color: #2F4600;
  margin: 0 0 0 0
}

.heading-background {
  background-color: #2F4600;
  z-index: 1
}

.colorchange {
  color: maroon;
}

#uppercase {
  text-transform: uppercase;
}

#cursive {
  font-family: cursive;
}

[href]{
  color: #A2C523
}

img[src*='nationalzoo'] {
  height: 75px;
}

a:hover {
  color: darkorange;
}

h2.destination {
  font-family: Tahoma;
}

.purplelist li {
  color: purple;
}

h3,
.or {
  font-family: Georgia;
}



.disclaimer {
  color: white;
  background-image: '3D386BBB-1A8C-4CEE-B812-F54FC53F1E7B.jpeg';
  margin: 0 0 0 30px;
  font-size: 23px;
  text-align: center;
  bottom: 0;
  background-size: cover;
  text-align: center;
  bottom: 0px;
}



@media only screen and (max-width: 836px) {
  .hd {
    display: none;
  }
}

@media only screen and (min-width: 835px) {
  nav ul li {
    display: none;
  }
}
@media only screen and (min-width: 835px) {
  .fmn {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .nm img {
    display: block;
    width: 90%;
    padding: 30px
  }
}


nav ul ul {
  display: none;
}
nav ul li:hover + ul {
  display: block;
}
nav ul ul:hover{
  display: block;
}
