p {
  color: white;
  margin: 0 0 0 30px;
  font-size: 23px
}

* {
  font-family: arial;
}

header {
  position: fixed;
  border-bottom: 1px clear;
  width: 100%;
  z-index: 10;
  background-color: #2F4600;
  margin-bottom: 20px;
}
ul {
  text-align: center;
  margin: 0px auto;
}
li {
  font-family: arial;
  color: #3EF948;
  font-size: 35px;
  font-weight: 300;
  display: inline-block;
  width: 30%;
  padding: 30px 0 30px 0
}

.logo {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 11;
}

.img {
  margin: 0 0 0 30px;
}

.imgWYCDtop {
  width: 17%;
  max-height: 200px;
  display: inline;
  padding: 1%;
}

fullLengthWYCD {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.fifthLengthWYCD {
  display: inline-block;
  width: 20%;
  margin: 0 0 0 0;
  font-size: 30px;
  padding: 0 0 0 0;
}


.img_w43 {
  width: 43%;
  margin: 0 0 0 30px;
}

.rmn {
  z-index: 3;
  background-color: #2F4600;
}
.fmn {
  z-index: 2;
  background-color: #2F4600;
}

.rmn header ul ul li {
  display: block;
  padding-top: 10px;
  text-align: centre;
  width: 100%;
}
.fmn header ul ul li {
  display: block;
  padding-top: 10px;
  text-align: centre;
  width: 100%;
}

.ns {
  color: #2F4600;
}

.nm {
  margin: 0;
}

ul.nm li {
  display: inline;
  width: 50%;
}

.p_format {
  color: white;
  margin: 0 0 0 30px;
  font-size: 23px;
  display: block;
  width: 100%;
  padding: 0;
  text-align: left;
}

.p_format_other {
  color: white;
  margin: 0 0 0 30px;
  font-size: 23px;
  width: 100%;
  padding: 0;
  text-align: left;
}

.p_format_other_other {
  color: white;
  margin: 0;
  font-size: 23px;
  width: 100%;
  padding: 0;
  text-align: left;
}

.text {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: 3px solid black;
}

.sourcesText {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.wtext {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.text p {
  color: #464646
}

.sourcesText p {
  color: #464646
}

.wtext p {
  color: white
}

.large_text {
  margin-top: 30px;
  font-size: 35px;
}

#d_text {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 90%;
  overflow-wrap: break-word;
  font-size: 18px;
}

.obg {
  background-image: url("Orangutan.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.ri {
  height: 100%;
  width: 100%;
  max-width: 1350px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pbg {
  background-image: url("palmOilPlantationImageForHome.jpg");
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.pob {
  background-image: url("IMG_6808.jpeg");
  background-position: center bottom;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 120%;
  margin: auto;
}

.bbg {
  background-color: white;
}

.mid {
  background-image: url("IMG_6551.jpeg");
  background-repeat: repeat;
  background-width: 100%;
}

.mid p {
  color: black;
  text-align: center;
  border-bottom: 1px clear;
  width: 100%;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 300;
  display: inline-block;
  padding: 30px 0 30px 0
}

body {
  margin: auto;
}


.footer {
  color: white;
  background-image: url("3D386BBB-1A8C-4CEE-B812-F54FC53F1E7B.jpeg");
  margin: 0 0 0 0;
  text-align: center;
  bottom: 0;
  background-width: 100%;
  font-size: 23px;
}


h2 {
  margin: 0 0 0 30px;
}
h3 {
  margin: 0 0 0 30px;
}



.hd {
  border-bottom: 1px solid;
  width: 100%;
  z-index: 1;
  background-color: #2F4600;
  margin: 0 0 0 0;
}

.heading-background {
  background-color: #2F4600;
  z-index: 1
}

.colorchange {
  color: maroon;
}

#uppercase {
  text-transform: uppercase;
}

#cursive {
  font-family: cursive;
}

#l1 {
  scroll-margin-top: 100px;
}

#l2 {
  scroll-margin-top: 100px;
}

#l3 {
  scroll-margin-top: 100px;
}

#l4 {
  scroll-margin-top: 100px;
}

#l5 {
  scroll-margin-top: 100px;
}



header [href]{
  color: #A2C523
}

.footer [href]{
  color: #A2C523
}

[href]{
  color: orange
}

img[src*='nationalzoo'] {
  height: 75px;
}




h2.destination {
  font-family: Tahoma;
}

h3,
.or {
  font-family: Georgia;
}


.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}




@media only screen and (max-width: 836px) {
  .hd {
    display: none;
  }
  
  .sourcesText {
    border: 0;
  }
}

@media only screen and (min-width: 837px) {
  nav ul li {
    display: none;
  }
}
@media only screen and (min-width: 837px) {
  .fmn {
    display: none;
  }
  
  .sourcesText {
    border: 3px solid black;
  }
}
@media only screen and (max-width: 990px) {
  .nm img {
    display: block;
    width: 90%;
    padding: 30px;
  }
}
@media only screen and (max-width: 1141px) {
  header .logo {
    margin: 0;
    width: 113px;
    object-fit: contain;
  }
}



nav ul ul {
  display: none;
}
nav ul li:hover + ul {
  display: block;
}
nav ul ul:hover{
  display: block;
}
